.sidenav {
    height: 100%;
    width: 450px;
    max-width: 100%;
    top: calc(-100vh);
    left: calc(-100vw);
    position: fixed;
    z-index: 9999;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s cubic-bezier(0.47, -0.55, 0.99, 0.2);
    padding-top: 60px;
    border-radius: 15px;

}

.sidenav.is-active {
    top: 0;
    left: 0;
}

.sidenav a,
h1 {
    padding: 8px 8px 8px 32px;
    margin-right: 0px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover,
a:focus {
    background-color: rgba(255, 0, 26, 0.85);
}

a.sidenav-link:hover::before {
    content: "→ ";
}

.sidenav .menubutton {
    position: absolute;
    top: 5px;
    right: 10px;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 20px;
}