.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
    padding-top: 60px;
}

.sidenav a,
h1 {
    padding: 8px 8px 8px 32px;
    margin-right: 20px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.1s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

a.sidenav-link:hover::before {
    content: "→ ";
}

.sidenav .menubutton {
    position: absolute;
    top: 5px;
    right: 10px;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 20px;
}
