.sidenav {
    height: calc(100% - 60px);
    width: 450px;
    max-width: 100%;
    top: 0;
    left: calc(-100vw);
    position: fixed;
    z-index: 9999;
    background-color: rgb(255 255 255);
    overflow-x: hidden;
    transition: 0.5s ease-in-out;
    padding-top: 60px;
    border-radius: 0px 15px 15px 0px;
    box-shadow:
        0 .6px 1.8px rgba(2, 14, 37, .1),
        0 3.2px 7.2px rgba(2, 14, 37, .16);
}

.sidenav.is-active {
    /* top: 0; */
    left: 0;
}

.sidenav a,
h1 {
    padding: 8px 8px 8px 25px;
    margin: 0px 0px;
    text-decoration: none;
    font-size: 25px;
    color: Black;
    display: block;
}

.sidenav a:hover,
a:focus {
    background-color: rgb(223 223 223);
    border-inline-start: 5px solid #242424;
    box-shadow:
        0 .6px 1.8px rgba(2, 14, 37, .1),
        0 3.2px 7.2px rgba(2, 14, 37, .16);
}

a.sidenav-link:hover::before {
    content: "► ";
}

.sidenav .menubutton {
    position: absolute;
    top: 5px;
    right: 10px;
    text-transform: uppercase;
    margin-left: 50px;
    font-size: 20px;
    box-shadow:
        0 .6px 1.8px rgba(2, 14, 37, .1),
        0 3.2px 7.2px rgba(2, 14, 37, .16);
}